<!DOCTYPE html>

<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
  <form method="post" enctype="multipart/form-data" action="/upfile">
    渲染资源附件：<input type="file" name="file"><br>
    渲染参数1：<textarea name="xml1"></textarea><br>
    渲染参数2：<textarea name="xml2"></textarea><br>
    渲染参数3：<textarea name="xml3"></textarea><br>
    渲染参数4：<textarea name="xml4"></textarea><br>
    渲染参数5：<textarea name="xml5"></textarea><br>
    渲染参数6：<textarea name="xml6"></textarea><br>
    渲染参数7：<textarea name="xml7"></textarea><br>
    渲染参数8：<textarea name="xml8"></textarea><br>
    渲染参数9：<textarea name="xml9"></textarea><br>
    渲染参数10：<textarea name="xml10"></textarea><br>
    分组数：<input type="number" min="1" max="10" name="groupNum"><br>
    渲染核心数：<input type="number" min="1" max="1000" name="cores"><br>
    名称：<input type="text" name="name"><br>
    <button type="submit">上传文件</button><br>
  </form>
</body>
</html>
